0 0 * * * /bin/sh -c 'echo "[$(date)] Clearing access tokens" >> /var/log/cron_cleartokens.log 2>&1 && /badgr_server/venv/bin/python /badgr_server/manage.py cleartokens | sed "s/^/[$(date)] /" >> /var/log/cron_cleartokens.log 2>&1'
1 0 * * * /bin/sh -c 'echo "[$(date)] Sending badge request emails" >> /var/log/cron_qr_badgerequests.log 2>&1 && /badgr_server/venv/bin/python /badgr_server/manage.py send_badgerequest_mails | sed "s/^/[$(date)] /" >> /var/log/cron_qr_badgerequests.log 2>&1'
0 0 * * * /bin/sh -c 'echo "[$(date)] Clearing altcha challenges" >> /var/log/cron_clear_altcha.log 2>&1 && /badgr_server/venv/bin/python /badgr_server/manage.py cleanup_altcha  | sed "s/^/[$(date)] /" >> /var/log/cron_clear_altcha.log 2>&1'
0 0 * * * /bin/sh -c 'echo "[$(date)] Clearing iframe URLs" >> /var/log/cron_clear_iframe_urls.log 2>&1 && /badgr_server/venv/bin/python /badgr_server/manage.py cleanup_iframe_urls | sed "s/^/[$(date)] /" >> /var/log/cron_clear_iframe_urls.log 2>&1'
0 0 * * * /bin/sh -c 'echo "[$(date)] Clearing AiSkillRequests" >> /var/log/cron_clean_aiskill_requests.log 2>&1 && /badgr_server/venv/bin/python /badgr_server/manage.py clean_aiskill_requests | sed "s/^/[$(date)] /" >> /var/log/cron_clean_aiskill_requests.log 2>&1'
