{% extends "email/base.html" %}
{% load static %}
{% load i18n %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" padding-bottom="60px" width="100px" align="left" />
    <mj-text font-size="32px" color="#492e98" line-height="115%">
    {% blocktrans with site_name=site.name site_domain=site.domain %}
      <span style="color: #323232">Herzlich Willkommen bei</span><br> <b>Open Educational Badges.</b>
    {% endblocktrans %}
    </mj-text>
    <mj-text>
    {% blocktrans with site_name=site.name site_domain=site.domain %}
      Bitte bestätige deinen Account, um Badges <br>
      zu <b>sammeln</b>, zu <b>erstellen</b> und zu <b>vergeben.</b>
    {% endblocktrans %}
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_alt_link %}
    <a href="{{ activate_url }}">{{ activate_url }}</a>
{% endblock button_alt_link %}
{% block button_text %}
    Meinen Account bestätigen
{% endblock button_text %}
{% endmjml %}
