{% extends "email/base.html" %}
{% load i18n %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" padding-bottom="60px" width="100px" align="left" />
    <mj-text font-size="32px" font-weight="bold">
    Das Passwort für Dein <a href="https://openbadges.education" target="_blank">openbadges.education</a> Konto wurde erfolgreich zurückgesetzt.
    </mj-text>
    <mj-text>
    Du kannst Dich nun mit Deinem neuen Passwort anmelden. Wenn Du diese Passwortänderung nicht angefordert hast,
    benutze bitte den Passwort vergessen-Link auf der Login Seite, um es wieder zurückzusetzen,
    und kontaktiere uns umgehend unter {{ help_email }}.
    Vielen Dank für die Verwendung von OpenEducationalBadges!
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
