{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" padding-bottom="60px" width="100px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span>Eine Institution wurde automatisch verifiziert!</span>
    </mj-text>
    <mj-text>
    Hallo Admins, eine neue Institution "{{ issuer_name }}" wurde
    erstellt und automatisch verifiziert.
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_url %}
    {{ HTTP_ORIGIN
    }}/staff/issuer/issuer/
{% endblock button_url %}
{% block button_text %}
    Zur
    Admin Übersicht
{% endblock button_text %}
{% block button_alt_link %}
    <a href="{{ HTTP_ORIGIN }}/staff/issuer/issuer/">{{ HTTP_ORIGIN }}/staff/issuer/issuer/</a>
{% endblock button_alt_link %}
{% endmjml %}
