{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" padding-bottom="60px" width="100px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">
    <span style="text-transform:capitalize;">Verifiziere deine Institution</span>
    </mj-text>
    <mj-text>
    Super, dass du deine Institution <span style="font-weight: 500;">{{ issuer_name }}</span> auf OEB angelegt hast!
    </mj-text>
    <mj-text color="#492e98" font-style="italic">
    Leider konnten wir sie nicht automatisch verifizieren, da die verwendete E-Mail-Adresse nicht zur Domain der angegebenen Webseite passt.
    </mj-text>
    <mj-text font-weight="500">
    So kannst du die Verifizierung abschließen:
    </mj-text>
    <mj-text padding-left="32px">
    • Füge die offizielle E-Mail-Adresse der Institution zu deinem Account hinzu oder
    <br />
    • antworte an <a href="mailto:support@openbadges.education">support@openbadges.education</a> mit deinem Namen, einem Link zur Webseite deiner Organisation sowie einer kurzen Bestätigung deiner Zugehörigkeit.
    </mj-text>
    <mj-text>Bei Fragen helfen wir gerne weiter.</mj-text>
    <mj-text>Beste Grüße
    <br />
    dein OEB-Team</mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button %}
{% endblock button %}
{% endmjml %}
