{% extends "email/base.html" %}
{% load static %}
{% load mjml %}
{% mjml %}
{% block main %}
    <mj-section background-color="#ffffff">
    <mj-column>
    <mj-image src="{% static '/images/Logo-Oeb.png' %}" alt="Logo" href="https://openbadges.education" padding-left="25px" padding-bottom="60px" width="100px" align="left" />
    <mj-text font-size="32px" font-weight="bold" padding-bottom="25px">QR-Code-Anfrage für deinen Badge
    </mj-text>
    <mj-text color="#492e98">
    Dein Badge <span style="font-weight: bold;">{{ badgeclass }}</span> wurde von {{ email }} per QR-Code angefragt.
    </mj-text>
    <mj-text>
    Bitte bestätige die Anfrage auf Open Educational Badges über den folgenden Button.
    </mj-text>
    </mj-column>
    </mj-section>
{% endblock main %}
{% block button_text %}
    Anfrage bestätigen
{% endblock button_text %}
{% block button_url %}
    {{ activate_url }}
{% endblock button_url %}
{% block button_alt_link %}
    <a href="{{ activate_url }}">{{ activate_url }}</a>
{% endblock button_alt_link %}
{% endmjml %}
